* {
  padding: 0;
  margin: 0;
}

.main {
  height: 100vh;
  width: 100%;
  display: flex;
}

.left-panel-container {
  width: 300px;
  height: 100%;
  background: #eee;
  border-right: #e3e3e3 1px solid;
}
.canvas-container {
  flex-grow: 1;
  height: 100%;
}
.right-panel-container {
  width: 200px;
  height: 100%;
  background: #eee;
  border-left: #e3e3e3 1px solid;
}

.canvas {
  width: 100%;
  height: 100%;
}

.left-panel,
.right-panel {
  padding: 10px;
}

.left-panel .new-item-button-group {
  display: flex;
}
.left-panel .new-item-button {
  height: 60px;
  width: 60px;
  margin: 10px;
  border: #e3e3e3 2px solid;
  background: #f4f4f4;
}

.right-panel input {
  line-height: 30px;
  margin: 10px;
}
